<% content_for :title do %>About<% end %>
<div class="intro">
<h3>About Michael Adams</h3>
<p>Here's <a href='/assets/AdamsResume.pdf'>his resume</a>.</p>
<p>To teach himself about iOS and Objective-C, he wrote <%= link_to "an app called Movidoodle", "http://movidoodle.com", target:'_blank' %>. It worked fairly well, but there's more to learn every day.</p>
<p>He has hobbies and interests, giving himself a clear opening here for an unordered list, but let's move on.</p>
<p>Sometimes Michael <%= link_to "plays around with 3D graphics and animation", "http://origamike.tumblr.com/tagged/c4d", target:"_blank" %>. His favorite colors include <span id="colorCycle">this one</span>.</p>
<p>If you want to know other things about him, you could <a href='mailto:mike@tesserapps.com?subject=an email from a website visitor'>send him an email</a>. Thanks again for stopping by!</p>
</div>
