<% content_for :title do %>About<% end %>
<h3>About Foobar Kadigan</h3>
<p>He was born somewhere and went somewhere else and did things. Now he's retired, how nice.</p>
<p>His favorite quotation is</p>
<p>Danger! High voltage!</p>