<% content_for :title do %>About<% end %>
<h3>About Michael Adams</h3>
<p>He was born and went to places and met people and did things. Now he's learning Ruby on Rails; how nice.</p>
<p>His favorite colors include <span id="colorCycle">this one</span>.</p>
