<% content_for :title do %>About<% end %>
<h3>About Michael Adams</h3>
<p>He was born, then went places and met people and did things. Now he's learning Ruby on Rails; how nice. Давно же он знал, как говорить по-русски.</p>
<p>His favorite colors include <span id="colorCycle">this one</span>.</p>
<p>You can send him a note on the <%= link_to "Contact page", new_contact_path %>,
   but don't <%= link_to "sign up for his newsletter", root_path %>,
   because he'll never use it.</p>
<p>Sometimes Michael <%= link_to "plays around with 3D graphics and animation", "http://origamike.tumblr.com/tagged/c4d", target:"_blank" %>.</p>
