// import the CSS framework
@import "foundation";

// override for the navbar
.logo {
  width: 40px;
  margin-left: 5px;
}

@media only screen and (min-width: 40.063em) {

  .top-bar {
    padding-top: 3rem;
    position: relative;
  }

  .social-icons {
    position: absolute;
    right: 0;
    top: -45px;
  }

  .logo {
    width: 70px;
    margin-top: -2.3rem;
  }
}



// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin six-columns-centered {
  @extend .small-6;
  @extend .medium-6;
  @extend .large-6;
  @extend .columns;
  @extend .text-center;
  }
// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
$backgroundPath: "<%= image_path('whoacave7.png') %>";

// apply styles to HTML elements
// to make views framework-neutral
body {
  background: #bbb url($backgroundPath)  no-repeat center center;
  }
main {
  background-color: transparentize(skyblue, 0.6);
  width: 80%;
  text-align: left;
  margin: 0 auto;
  padding: 20px;
  }
