// import the CSS framework
@import "foundation";

// apply styles to HTML elements
// to make views framework-neutral
main {
  background-color: transparentize(skyblue, 0.3);
  width: 80%;
  text-align: left;
  margin: 20px auto;
  padding: 2rem;
  }

body {background-color: #444;}
