<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area logo">
    <a href=<%= root_path %> >
      <%= image_tag 'avatar.jpg', alt:"a garbled photo of Michael Adams"  %>
    </a>
      <li class="toggle-topbar menu-icon"><%= link_to 'Home', root_path %></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right"><%= render 'layouts/navigation_links' %></ul>
      <ul class="social-icons">
        <li><a href="https://github.com/origamike"><i class="fi-social-github"></i></a></li>
        <li><a href="https://www.linkedin.com/profile/view?id=431618433"><i class="fi-social-linkedin"></i></a></li>
        <li><a href="https://twitter.com/origamike"><i class="fi-social-twitter"></i></a></li>
      </ul>
    </section>
  </nav>
